<h1>Zdravo! Molim Vas da potvrdite Vaš email!</h1>

<p>
    Molimo Vas da potvrdite da ste se ovom email adresom registrovali na Olala:<br><br>
    <a href="{{ signedUrl|raw }}">Porvrđujem moj email</a>.
    Ovaj link će prestati da važi za {{ expiresAt|date('g') }} sata.
</p>

<p>
    Prijatno!
</p>
