{% extends 'Front/static_pages/layout.html.twig' %}

{% block title %}{{ 'about.page_title'|trans }}{% endblock %}

{% block greet_info %}
{% endblock %}

{% block content %}

    <div id="about">
        <div class="about container">
            <div class="about content">
                <h1>{{ 'about.title'|trans }}</h1>
                {{ 'about.text'|trans|raw }}
            </div>
        </div>
    </div>

{% endblock %}

