{% extends 'Front/static_pages/layout.html.twig' %}

{% block title %}Poručite{% endblock %}

{% block greet_info %}
    <div class="categories text-center">
        <main-image
                v-bind:datauname="dataUname"
                header-height="height:100vh;"
        ></main-image>

        <a href="#products" class="btn btn-outline-primary" id="btnOutline">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </a>
    </div>
{% endblock %}

{% block content %}
    <div id="homepage">
        <div class="homepage container">

            <div class="homepage content">
                Dobro došli,
                <br /><br />
                web prezentacija je u izdradi
                <br /><br />
                Hvala na poseti!!!
            </div>
        </div>
    </div>
{% endblock %}
