{% extends 'Front/static_pages/layout.html.twig' %}

{% block title %}Static page{% endblock %}

{% block content %}
    <div class="static">

        {{ include('Front/no_content_image.html.twig') }}

    </div>
{% endblock %}