{# templates/Front/static_pages/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="header container">
        {% block header %}
            {{ include('Front/main-navbar.html.twig') }}
        {% endblock %}
    </div>

    <div class="main container static">
        <div class="bckg-image container">
            {% block greet_info %}{% endblock %}

            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="footer container">
        {% block footer %}
            {{ include('Front/footer.html.twig') }}
        {% endblock %}
    </div>

    <div class="loading-overlay" data-js-loading-overlay>
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

{% endblock %}