{% extends 'base.html.twig' %}

{% block body %}
    <div class="header container">
        {% block header %}
            {{ include('Front/main-navbar.html.twig') }}
        {% endblock %}
    </div>

    <div class="main container static" id="parentScrollelm">
        <div class="bckg-image container">
            {% block greet_info %}{% endblock %}

            <div id="scrollelm">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="footer">
        {% block footer %}
            {{ include('Front/footer.html.twig') }}
        {% endblock %}
    </div>

{% endblock %}