{% extends 'Front/static_pages/layout.html.twig' %}

{% block title %}Poručite{% endblock %}

{% block greet_info %}

{% endblock %}

{% block content %}
    <div id="orders">
        <div class="orders container">
            <div class="orders content">
                Dobro došli,
                <br /><br />
                stranica o informacijama u vezi porudžbina je u izdradi
                <br /><br />
                Hvala na poseti!!!
            </div>
        </div>
    </div>
{% endblock %}

