{% extends 'Front/static_pages/layout.html.twig' %}

{% block title %}About page{% endblock %}

{% block greet_info %}
    <div class="static greet text-center">
        <div class="js-user-name" data-is-authenticated="{{ app.user ? 'true' : 'false' }}"
             data-user-profile="{{ app.user ? app.user.username|json_encode|e('html_attr') }}" >
            {#Hello!#}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="orders">
        <div class="orders container">
            <div class="orders content">
                Dobro došli,

                ovo je stranica o porudžbinama...

                Hvala na poseti!!!
            </div>
        </div>
    </div>
{% endblock %}

