{# templates/Front/products_list/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="header container">
        {% block header %}
            {{ include('Front/main-navbar.html.twig') }}
        {% endblock %}
    </div>

    <div class="main container categories" id="parentScrollelm">
        {% block greet_info %}
            <div class="categories text-center">
                <main-image
                    v-bind:datauname="dataUname"
                    header-height="height:100vh;"
                ></main-image>

                <a href="#categories" class="btn btn-outline-primary" id="btnOutline">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </a>
            </div>

        {% endblock %}

        <div id="scrollelm">
            {% block content %}{% endblock %}
        </div>

    </div>

    <div class="footer">
        {% block footer %}
            {{ include('Front/footer.html.twig') }}
        {% endblock %}
    </div>
{% endblock %}