html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.footer {
    flex-grow: 0;
    display: block;
}
.header #mainNavbar {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    min-height: 40px;
}
.header .navbar-brand {
    content: url("../media/logo.png");
    width: 65px;
    display: inline-block;
    opacity: 0.5;
    padding: 0 10px 0 10px;
}

.nav-opacity {
    opacity: 0.8 !important;
}

#navbarSupportedContent {
    padding-left: 10px;
}

#btnOutline {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*transition: 0.5s;*/
    z-index: 2;
}
#btnOutline.hideBtn {
    visibility: hidden;
}

#scrollelm {
    margin: 35vh auto 0 auto !important;
    font-size: 15px;
    line-height: 18px;
}

/*#categories {
    min-height: 95vh;
}

#categories .container {
    padding-right: 0;
}*/

#categories .row.category:not(.first) {
    box-shadow: 0 2px 4px #e80909, 0 2px 4px #e80909;
    margin: 10px 0 10px 10px;
    padding: 5px 0 5px 0px;
}

#categories .first.row.category {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .16), 0 2px 4px rgba(0, 0, 0, .23);
    margin: 50px 0 25px 10px;
    padding: 5px 0 5px 0px;
    border: 2px solid #e80909;
}

#categories .row.product {
    margin: 10px 0 10px 10px;
    padding: 5px 0 5px 0px;
}

#categories img, #categories .panel {
    border-radius: 2px;
    border: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

#categories .row.category:not(.first) img, #categories .row.category:not(.first) .panel {
    min-height: 130px;
    max-height: 150px;
}
#categories .first.row.category img, #categories .first.row.category .panel {
    min-height: 160px;
    max-height: 180px;
}
#categories .product img.prod-img, #categories .product .panel {
    min-height: 100px;
    max-height: 130px;
}

#categories .tblcol {
    padding: 3px;
}

#categories .first.row.category img, #categories .first.row.category .panel {
    box-shadow: 0 2px 4px #e80909, 0 1px 2px #e80909;
}
#categories .product img.prod-img, #categories .product .panel {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .16), 0 2px 4px rgba(0, 0, 0, .23);
}

.panel, .panel-heading {
    padding: 1px;
    height: 20%;
}

.panel, .panel-body {
    padding: 5px;
    height: 80%;
    overflow: hidden;
}

.prod-name, .prod-price, .cat-name {
    text-align: right;
}

.prod-desc, .cat-desc {
    text-align: justify;
}

.food-and-drinks {
    background-image: url("../media/greet-bckg.jpg");
}

/* Products add to cart */
/*.quantity {
    padding-top: 20px;
    margin-right: 60px;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 30px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.minus-btn img {
    margin-bottom: 3px;
}
.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline:0;
}*/
/* End of Products add to cart */

.modal-backdrop {
    opacity: 0 !important;
}
#modal-cart.modal {
    top: 70px !important;
}
