/* categories */
#main-categories {
    margin: 30px auto 30px auto;
    overflow: auto;
    background-color: white;
}

.category.first {
    padding: 2px !important;
    margin: 15px auto 15px auto;
}
.category.subcategory {
    padding: 2px !important;
    margin: 5px auto 5px auto;
}
.category.subcategory .cat-border {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    padding: 1px;
    border: 2px solid #548fad;
}
.cat-name, .cat-image, .prod-image {
    max-height: 100%;
    overflow: hidden;
    padding: 1px !important;
    color: #548fad;

    justify-content: center;
    display: flex;
}

.prod-image{
    position: relative;
}
.prod-image .prod-img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 100%;
    max-height: 100%;
}

#products {
    display: flex;
    flex-wrap: wrap;
}
.products {
    padding: 5px !important;
    margin: 15px auto 15px auto;
}
.prod-row {
    margin: 0 !important;
    padding: 1px !important;
}
.products .prod-border {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 100%;
    padding: 1px;
    border: 1px solid gray;
    /*background-color: lightgray;*/
    background-color: rgba(255, 255, 255, 0.85);
}
.products.category-front .prod-border {
    height: 150px;
}
.products .prod-border-buttons {
    display: flex;
    flex-wrap: wrap;
    height: 42px;
    width: 100%;
    padding: 1px;
    border: 1px solid gray;
    background-color: lightgray;
}
.products .mt-buttons {
    margin-top: 0 !important;
}
.products .btn-group {
    height: 32px;
}
.products .prod-head, .products .prod-body {
    line-height: 1;
    height: 50%;
    overflow: hidden;
    margin: 0 !important;
    padding: 1px !important;
}
.prod-info {
    /*height: 120px;*/
    height: 100%;
    padding: 1px !important;
}
.prod-name, .prod-price {
    padding: 1px;
    overflow: hidden;
}
.prod-name {
    height: 70%;
    font-size: 1em;
    color: #548fad;
}
.prod-price {
    text-align: right;
    height: 30%;
    text-decoration: underline solid #548fad;
    font-size: 0.8em;
}
.prod-desc {
    height: 100%;
    line-height: 1;
    text-align: justify;
    overflow: hidden;
    font-size: 0.8em;
}
.products.category-front .prod-name {
    font-size: 1.1em;
}
.products.category-front .prod-desc, .products.category-front .prod-price {
    font-size: 0.9em;
}
/* categories end */

.food-and-drinks {
    background-image: url("../media/greet-bckg.jpg");
}

.modal-backdrop {
    opacity: 0 !important;
}
#modal-cart.modal {
    top: 70px !important;
}
