.main .bckg-image.container {
    background-image: url("../media/greet-bckg.jpg");
    border: 2px solid black;
    padding: 25px;
    background-color: white;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.static.container .content {
    text-align: center;
    margin: 100px 0 50px 0;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.85);
}
.static.container .content p{
    color: black;
}
.static.container .content h1 {
    text-align: left;
}
