.main .bckg-image {
    /*background-image: url("../media/greet-bckg.jpg");*/
    /*border: 2px solid black;
    padding: 20px !important;*/
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.homepage.main-container {
    margin: 50px 0 50px 0;
}
.homepage.welcome-message {
    line-height: 1.5em;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}
.static .content {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    margin: 10px 0 10px 0;
}
.static .about.content p{
    color: black;
    font-size: 1.2em;
    padding: 10px;
}
.static .about.content-intro {
    text-align: left;
}
.static .about.content-desc {
    text-align: justify;
}
.static .about.content-footer {
    text-align: left;
}
.static .content h1 {
    text-align: center;
}

#about .about h3 {
    text-align: center;
}
#about ol {
    color: #999999;
}
#about .about-member {
    display: flex;
    flex-direction: row;
    align-content: center;
}
#about .image-member {
    max-width: 40%;
}
#about .image-member img {
    width: 100%;
    padding: 10px 0 0 0;
}
#about .content-member {
    max-width: 60%;
    text-align: justify;
    padding: 10px 0 0 10px;
}
@media (max-width: 800px) {
    #about .about-member {
        flex-direction: column;
    }
    #about .about-member.reverse {
        flex-direction: column-reverse;
    }
    #about .image-member {
        max-width: 100%;
    }
    #about .content-member {
        max-width: 100%;
    }
}

/* vue template */
#categories {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    border-radius: 10px;
}

/* homepage categories */
.flex-container-categories {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* homepage each category */
.flex-container-cat {
    display: flex;
    justify-content: space-around;
    max-height: 100%;
    flex-direction: row;

    align-items: center;
}
.flex-container-cat.reverse {
    flex-direction: row-reverse;
}
.flex-container-cat .category-image {
    min-width: 60%;
    /*max-height: 400px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.flex-container-cat .category-about {
    min-width: 40%;
    overflow: hidden;
    padding: 0 5% 0 5%;
    text-align: center;
    flex-direction: column;
}
.flex-container-cat .category-image img {
    width: 100%;
    max-height: 100%;
}
.flex-container-cat .category-name h1 {
    font-size: 2em;
}
/* Product-show page specific */
#tagservice-show .flex-container-cat .category-image,
#product-show .flex-container-cat .category-image {
    height: 400px;
}
#tagservice-show .flex-container-cat .category-image img,
#product-show .flex-container-cat .category-image img {
    width: auto;
    max-width: 100%;
    height: 100%;
}
/* End - Product-show page */
div.category-desc {
    text-align: center;
    padding-top: 30px;
    line-height: 1.3em;
    font-size: 1.3em;
}
@media (max-width: 800px) {
    .flex-container-cat, .flex-container-cat.reverse {
        display: flex;
        justify-content: space-around;
        max-height: 100%;
        flex-direction: column;
    }
    .flex-container-cat .category-about {
        margin-top: 2%;
    }
    .flex-container-cat div.category-desc {
        padding-top: 2%;
    }
    /*.flex-container-cat.reverse {
        flex-direction: column-reverse;
    }*/
}
/* Show more - show less */
.category-about .learnmore-btn {
    margin: 15px auto 15px auto;
}
button.moreless {
    background-color: white;
    color: #548fad;
    border: 2px solid #548fad;
    transition-duration: 0.4s;
}
button.moreless:hover {
    background-color: #548fad;
    color: white;
}
/* End of show more - show less */

/* end of homepage each category */
/* Main Carousel */
.carousel .slide.agile__slide.agile__slide--current.agile__slide--active {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.slide img {
    max-height: 500px;
    flex-shrink: 0;
    width: 100%;
    /*min-height: 100%*/
}

.carousel .agile__actions {
    position: static;
}
.carousel .slide.agile__slide h3 {
    opacity: 1;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 50%;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.carousel .slide.agile__slide h3 span {
    background-color: rgba(0,0,0,.5);
    padding: 2px 10px 2px 10px;
}
.carousel .agile__nav-button {
    background: transparent;
    border: none;
    color: #548fad;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    width: 40px;
}
.agile__nav-button--prev {
    left: 0;
}
.agile__nav-button--next {
    right: 0;
}
.agile__nav-button:hover {
    background-color: rgba(0,0,0,.5);
    opacity: 1;
}
.agile__dots {
    bottom: 10px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    white-space: nowrap;
}
.agile__dot {
    margin: 0 10px;
}
.agile__dot button {
    background-color: transparent;
    border: 1px solid #18b3ef;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 10px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    width: 10px;
}
.agile__dot--current button, .agile__dot:hover button {
    background-color: #548fad;
}
/* Main Carousel */
