<!-- Footer -->
<footer class="bg-dark page-footer font-small special-color-dark pt-4">
    <!-- Footer Elements -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <address>
                    <p><b>Olala</b></p>
                    <p>Vlasnik: Nemanja Radlovački</p>
                    <p>Telefon: <a href="tel:+381605105620">060/510-5620</a></p>
                    <p>Email: <a href="mailto:info@gmail.com">info@olala.co.rs</a></p>
                </address>
            </div>
            <div class="col-sm-6 col-md-3">
                <address>
                    <p>
                        Adresa:<br>
                        <span>Stražilovska 36</span><br>
                        <span>23000 Zrenjanin</span><br>
                        <span>Srbija</span>
                    </p>
                    <p>
                        Radno vreme: Pon-Ned 08 - 24<br>
                        Dostava na adresu: 08 - 23
                    </p>
                </address>
            </div>
            <!-- Social buttons -->
            <div class="col-sm-12 col-md-6">
                <div class="list-inline-item">
                    Pronađite nas na socijalnim mrežama:
                </div>
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/olalazr/" target="_blank" class="btn-floating btn-fb mx-1">
                            <i class="fab fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/olalazrenjanin/" target="_blank" class="btn-floating btn-gplus mx-1">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Social buttons -->
        </div>
    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">
        © 2020 Copyright:
        <a href="http://goransubic.github.io/" target="_blank"> Goran Subić</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->