{% apply inline_css(source("@styles/qrcode.css")) %}

    <h1>User - table qrCodes</h1>

    <div id="qr-code-show">
        {% for table in qrTables %}
            <div class="qr-table">
                <h3 class="table-name">{{ table['firstName'] }} {{ table['lastName'] }}</h3>
                <div>
                    <img src="{{ table['qrCode'] }}" alt="qrCode">
                </div>
                <div class="pass-block-parent">
                    <div class="pass-text">Šifra: </div>
                    <div class="pass-block"></div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endapply %}
